trigger:
- custodia/agent

variables:
  group: packer-image-build-variables

jobs:
- job:
  displayName: DevOps Pipeline Agent Image Build
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: 'Get-ChildItem -Path Env:'
    env:
      CLIENT_ID: $(CLIENT_ID)

  - task: PackerBuild@1
    inputs:
      templateType: 'custom'
      customTemplateLocation: '$(System.DefaultWorkingDirectory)/images/win/simple-windows2016.json'
