trigger:
- custodia/agent

jobs:
- job:
  displayName: DevOps Pipeline Agent Image Build
  pool:
    vmImage: 'vs2017-win2016'
  variables:
  - group: packer-image-build-variables

  steps:
  - task: PackerBuild@1
    inputs:
      templateType: 'custom'
      customTemplateLocation: '$(System.DefaultWorkingDirectory)/images/win/simple-windows2016.json'
