trigger:
- custodia/agent

jobs:
- job:
  displayName: DevOps Pipeline Agent Image Build
  pool:
    vmImage: 'vs2017-win2016'
  variables:
    group: packer-image-build-variables

  steps:
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: 'Get-ChildItem -Path Env:'

  # - task: PackerBuild@1
  #   inputs:
  #     templateType: 'custom'
  #     customTemplateLocation: '$(System.DefaultWorkingDirectory)/images/win/simple-windows2016.json'
  #     customTemplateParameters: |
  #       {
  #         "client_id": $(ARM_CLIENT_ID)
  #       }
