trigger:
- custodia/agent

jobs:
- job:
  displayName: DevOps Pipeline Agent Image Build
  pool:
    vmImage: 'vs2017-win2016'
  variables:
  - group: packer-image-build-variables

  steps:
  - task: PowerShell@2
    displayName: 'Set image template variables'
    inputs:
      targetType: 'inline'
      script: |
        $ImageType = "simple-windows2016"
        $TemplateDirectoryName = "win"
        $TemplateDirectoryPath = Join-Path "images" $TemplateDirectoryName | Resolve-Path
        $TemplatePath = Join-Path $TemplateDirectoryPath "$ImageType.json"
        Write-Host "##vso[task.setvariable variable=TemplateDirectoryPath;]$TemplateDirectoryPath"
        Write-Host "##vso[task.setvariable variable=TemplatePath;]$TemplatePath"

  - task: PowerShell@2
    displayName: 'Build VM'
    inputs:
      targetType: filePath
      filePath: $(System.DefaultWorkingDirectory)/images.CI/linux-and-win/build-managed-image.ps1
      arguments: -ResourcesNamePrefix $(Build.BuildId) `
                        -ClientId $(CLIENT_ID) `
                        -ClientSecret $(CLIENT_SECRET) `
                        -TemplatePath $(TemplatePath) `
                        -ResourceGroup $(AZURE_RESOURCE_GROUP) `
                        -StorageAccount $(AZURE_STORAGE_ACCOUNT) `
                        -SubscriptionId $(AZURE_SUBSCRIPTION) `
                        -TenantId $(AZURE_TENANT) `
                        -Location $(AZURE_LOCATION) `
                        -VirtualNetworkName $(BUILD_AGENT_VNET_NAME) `
                        -VirtualNetworkRG $(BUILD_AGENT_VNET_RESOURCE_GROUP) `
                        -VirtualNetworkSubnet $(BUILD_AGENT_SUBNET_NAME)

    env:
      PACKER_LOG: 1
      PACKER_LOG_PATH: $(Build.ArtifactStagingDirectory)/packer-log.txt

  # - task: Packer@1
  #   inputs:
  #     connectedServiceType: 'azure'
  #     azureSubscription: 'BizSpark (Pipelines Service Principal)'
  #     templatePath: '$(System.DefaultWorkingDirectory)/images/win/simple-windows2016.json'
  #     command: 'build'
  #     force: true  

  # - task: PackerBuild@1
  #   inputs:
  #     templateType: 'custom'
  #     customTemplateLocation: '$(System.DefaultWorkingDirectory)/images/win/simple-windows2016.json'
  #     packerVersion: '1.7.0'
